#lesson50 .row-sect--exam2,
#lesson50 .row-sect--exam3 {
	margin-top:80px;
}

#lesson50 .col-block .ltxt h2 {
	font-size:34px;
	line-height:1.21;
	font-family:Inter;
	font-weight:600;
	color:#1e1e1e;
	padding-bottom:34px;
}
#lesson50 .col-block .ltxt h2 span {
	color:inherit;
}

#lesson50 .col-block .ltxt p {
	font-size:18px;
	line-height:1.5;
	color:#7c7c7c;
	padding-bottom:10px;
}

#lesson50 .col-block .row-butprog {
	padding-top:30px;
}

#lesson50 .col-block .but-play button.but-next {
	background-color:#1c7b82;
}

#lesson50 .col-block .progress {
	text-align:right;
}

#lesson50 .col-block .title-progress {
	display:inline-block;
	line-height: 45px;
}

#lesson50 .col-block .title-progress .bar {
	display:inline-block;
	width:105px;
	background-color: #e7e7e7;
	border-radius: 20px;
}
#lesson50 .col-block .title-progress .perc {
	height:10px;
	background-color:#93d6db;
	border-radius:20px;
}
#lesson50 .col-block .title-progress span {
	display:inline-block;
	font-size:16px;
	color:#7c7c7c;
	padding-left:4px;
}

#lesson50 .col-block .rimg {
	display:block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
#lesson50 .col-block .rimg img {
	max-width:90%;
}

#lesson50 .col-block .rimg-mobile {
	display:none;
    text-align: center;
}
#lesson50 .col-block .rimg-mobile img {
	max-width:100%;
}

@media screen and (max-width:768px) {
	#lesson50 .col-block .col-6.ltxt {
		width:100%;
	}
	
	#lesson50 .col-block .rimg {
		display:none;
	}

	#lesson50 .col-block .rimg-mobile {
		display:block;
		padding-top:15px;
	}
}
